* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.header {
    background-color: #1f2937;
    height: 80vh;
}
.navbar{

}
.main {
    background-color: #fff;
    height: 80vh;
}
.hero {
}
.info {
}
.quote {
    background-color: #e5e7eb;
}
.cta {
}
.footer {
    background-color: #1f2937;
    height: 6vh;
}