* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    min-height: 500px;
    background: #1f2937;
}
nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
a {
    text-decoration: none;
    color: #f9faf8;
}
.navbar {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.header__logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
.header__items {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #f9faf8;
}
.container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.main {
    background-color: #fff;
    height: 800px;
}
.btn {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
}
.hero {
    display: flex;
    padding: 20px;
}
.hero__left {
    color: #f9faf8;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0 35px 0 0;
}
.hero__left p {
    padding: 15px 0;
}
.hero__left .btn {
    width: 120px;
    text-align: center;
    border: none;
}
.hero__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2b4b883;
    color: #f9faf8;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    margin-bottom: 2rem;
}
.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3em;
    padding: 2em;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    color: grey;
    border: 2px solid #3882f6;
    border-radius: 10px;
    padding: 30%;
    text-align: center;
}
.grid-text {
    text-align: center;
    font-size: 0.8rem;
    margin-top: -2em;
}
.grid-item:hover {
    border: 2px solid #f638f6;
}
.quote {
    background-color: #e5e7eb;
    height: 400px;
    padding-top: 80px;
}
.quote__text {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 0 5vw;
}
.cta {
    background-color: #3882f6;
    padding: 40px 60px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 100px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2em;
}
.cta__left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.cta__left h4 {
    color: #f9faf8;
    font-size: 26px;
}
.cta__left p {
    color: #f9faf8;
}
.cta__right {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 1rem;
}
blockquote p {
    font-size: 18px;
    color: #1f2937;
    text-align: right;
    font-weight: bold;
}
footer {
    position: relative;
    width: 100%;
    min-height: 60px;
    background-color: #1f2937;
    color: #e5e7eb;
    bottom: 0;
    margin-top: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
